.paraX {
    min-height: 500px;
    background-attachment: fixed !important;
    background: no-repeat;
    background-size: cover !important;
}

.jumbotron {
    margin-bottom: 0;
}

#pX1 {
    background-image: url("../assets/images/bg/geo-bg2.png");
    margin-top: -50vh;

}

#pX2 {
    background-image: url("../assets/images/bg/geo-bg2.png");
    background-position: center;
}

#pX3 {
    background-image: url("../assets/images/bg/geo-bg4.png");
    background-position: bottom;
}

#pX4 {
    background-image: url("../assets/images/bg/geo-bg1.png");
    min-height: 250px;
}
