:root {
    --yellow: #f3c130;
    --darkblue: #414a6b;
    --blue: #3538A9;
    --black: #111111;
    --dgray: #666666;
    --lgray: #D9D9D9;
    --white: #FAFAFA;
}






/* :root { /* example
    --red: #e80d0d;
    --green: #10a503;
    --blue: #0071b2;
  
    --font-one: 'Jua', sans-serif;
    --font-two: 'Raleway Dots', cursive;
    --font-three: 'Amatic SC', cursive;
} */